[submodule "custom/plugins/git-aliases"]
	path = custom/plugins/git-aliases
	url = git@github.com:peterhurford/git-aliases.zsh.git
[submodule "custom/plugins/slugify"]
	path = custom/plugins/slugify
	url = git@github.com:lashoun/slugify.git
[submodule "custom/plugins/gpg-crypt"]
	path = custom/plugins/gpg-crypt
	url = git@github.com:Czocher/gpg-crypt.git
[submodule "custom/plugins/gpg-agent"]
	path = custom/plugins/gpg-agent
	url = git@github.com:axtl/gpg-agent.zsh.git
[submodule "custom/plugins/phpunit"]
	path = custom/plugins/phpunit
	url = git@github.com:voronkovich/phpunit.plugin.zsh.git
[submodule "custom/plugins/ssh"]
	path = custom/plugins/ssh
	url = git@github.com:zpm-zsh/ssh.git
[submodule "custom/plugins/oh-my-matrix"]
	path = custom/plugins/oh-my-matrix
	url = https://github.com/amstrad/oh-my-matrix
